<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>

  <tbody>
    <% @posts.each do |post| %>
      <td>
      <%= link_to image_tag(post.url, :alt => "Image Description"), post %>
      </td>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Post', new_post_path %>
<% else %>
  <%= link_to 'Sign In to Create Post', login_path %>
<% end %>

