// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user {
	display: flex;
	justify-content: space-between;
}

.user-grid {
	width: 75%;
	margin: auto;
	display: flex;
	background-color: darkgrey;
	flex-wrap: wrap;
	justify-content: space-around;
}


.user-grid__images {
	width:  22vw;
  	height: 22vw;
  	min-width: 200px;
  	min-height: 200px;
	overflow: hidden;
	background-color: black;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	margin-bottom: 1vw;
	position: relative;

}

.user-grid__image {
	width: 150%;
	position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.user-info {
	margin-right: 10px;
	font-size: 25px;
}


.background-image {
	
	background-image: url("https://images.unsplash.com/reserve/Lt0DwxdqRKSQkX7439ey_Chaz_fisheye-11.jpg"); 
	background-size:cover;
	height: 100vh;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: flex;
	justify-content: center;
}

.field {
	width: 40vw;
	display: flex;
}
