// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user {
	display: flex;
	justify-content: space-between;
}

.user-grid {
	width: 75%;
	margin: auto;
	display: flex;
	background-color: darkgrey;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1.5vw;
}


.user-grid__images {
	width:  22vw;
  	height: 22vw;
  	min-width: 200px;
  	min-height: 200px;
	overflow: hidden;
	background-color: black;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	margin-bottom: 1vw;
	position: relative;

}

.user-grid__image {
	width: 150%;
	position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

    &:hover {
    	transform: scale(0.95);
    }
}

.user-info {
	margin-right: 2%;
	font-size: 1.25rem;
	background-color: #222833;
	padding-left: 1%; 
	padding-right: 3%;
	color: #f4f4f4;
}
	

.user-info > a {
	color: #f4f4f4;
	text-decoration: none;
	font-size: 1.0625rem;

	&:hover {
    	text-decoration: underline;
    }

}


